<div class="row">
  <div class="large-8 columns"></div>
  <%=link_to "Home", root_url,class: "round button" %>

</div>
<div class="row">
  <div large-10 columns>
    <p>You are on an Under water adventure hunting the dreaded Goblin Shark. <br>
       Danger is around every corner. There is the infamous Kracken and Lochness monster <br>
      These creatures will take you to a different location if you have to face them. <br>
      Also, if you enter a room with an iceberg or whirlpool you will surely die! <br>
      Use your senses to make the best choice to venture forward.<br>
      When you feel the Goblin shark is near Shoot an Anchor into his room.<br>
      Good luck!
    </p>
  </div>
</div>